@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

nav{
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-one {
    background-color: #2e3192;
    color: white;
    line-height: 1;
    width: 100%;
    height: 62px;
    padding:25px 169px;
}

.left .email {
    border-right: #fff solid;
    border-width: 2px;
    padding: 0 11px;
}

.left .call {
    padding: 0 11px;
}

.left > div:hover{
    color: #e45421;
    cursor: pointer;
}

.navbar-one .abc li:hover{
    color: #e45421;
    cursor: pointer;
}

a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
  
li {
    list-style: none;
}

.navbar-one .abc li {
    float: left;
    padding: 0 12px;
    font-size: 14px;
    border-right: 2px #fff solid;
}

.navbar-one .vc li {
    float: left;
    padding: 0 12px;
    font-size: 14px;
}

.btn{
    padding: 7px 18px;
    border-radius: 15px;
    background-color: #f14a0d;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.btn:hover{
    background-color: #da5728;
}

h6 .ass{
    color: red;
    font-weight: bold;
}

.right{
    margin: 20px;
}

.navbar-second .logo{
    width: 100%;
    height: 62px;
    padding:5px 180px;
}

.navbar-second li a{
    color: black;
}

.navbar-second li{
    float: left;
    padding: 0 15px;
    font-size: 16px;
    border-right: 1px black solid;
}

.navbar-second ul{
    margin-right: 250px;
    margin-top: 45px;
}

hr{
    border: none;
    margin-top: 40px;
}

.container{
    color: #fff;
    background: linear-gradient(rgb(76, 39, 145) 20%,rgb(103, 60, 182) 40%);
    text-align: center;
    padding: 25px;
    font-size: 20px;
}


.main-wrap{
    width:100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(76, 39, 145) 20%,rgb(103, 60, 182) 40%);
}
.box-container{
    display: flex;
    width:860px;
    height:550px;
    color: black;
    text-align: left;
    background:#fff;
    border-radius: 20px;
}
.img-box{
    width:50%;
    height: 100%;
    background-image: url(../images/pht1.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.form-wrap{
    width:100%;
    height: 100%;
    padding: 20px;
}

.form-wrap{
    padding-top: 40px;
    padding-left: 40px;
}

.mid-container{
    padding-top: 10px;
    padding-left: 20px;
}

.msg
{
	font-size:8px;
	color:red;
}

h4 {
    padding: 20px;
}

.icons-size{
    color: #333;
    font-size: 14px;
}
.action{
    position: absolute;
    right: 355px;
    top:250px
}
.action .profile{
    border-radius: 50%;
    cursor: pointer;
    border: 2px black solid;
    height: 60px;
    overflow: hidden;
    position: relative;
    width: 60px;
}
.action .profile img{
    width: 100%;
    top:0;
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 100%;
}
.action .menu{
    background-color:#FFF;
    box-sizing:0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    border: 1px black solid;
    padding: 6px 12px;
    position: absolute;
    left: -2px;
    width: 180px;
    transition: 0.5s;
    top: 80px;
    visibility: hidden;
    opacity: 0;
}
.action .menu.active{
    opacity: 1;
    top: 80px;
    visibility: visible;
}
.action .menu::before{
    background-color:#fff;
    border-top: 1px black solid;
    border-left: 1px black solid;
    content: '';
    height: 15px;
    position: absolute;
    right: 130px;
    transform:rotate(45deg);
    top:-6.2px;
    width: 20px;
}
.action .menu h3{
    color: #555;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 20px 0px;
    text-align: left;
    width: 100%;
}
.action .menu h3 div{
    color: #818181;
    font-size: 14px;
    font-weight: 400;
}
.action .menu ul li{
    align-items: center;
    border-top:1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}
.action .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition:0.5s
}
.action .menu ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
.action .menu ul li:hover img{
    opacity: 1;
}
.action .menu ul li:hover a{
    color:#e45421;
}

.content-table {
    
    margin: 5px 0;
    font-size: 0.9em;
    min-width: 730px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #f14a0d;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 8px 15px;
    text-align: center;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #f14a0d;
  }

  .form-wrap .student-label{
      font-size: 18px;
      margin: 5px;
  }

  .form-wrap .prn{
      margin-left: 19%;
      font-weight: bold;
  }

  .form-wrap .name{
    font-weight: bold;
}

.form-wrap .email{
    font-weight: bold;
}

.form-wrap .branch{
    margin-left: 20%;
    font-weight: bold;
}

.form-wrap .semester{
    font-weight: bold;
    padding-top: 15px;
}

.button {
    display: flex;
    height: 40px;
    margin-left: 38%;
    margin-top: 20px;
    background: #f14a0d;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button:hover {
    background: #da5728;
  }
  
  .button:active {
    background: #ff4400;
  }
  
  .button__text,
  .button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0px 24px;
    color: #fff;
    height: 100%;
  }
  
  .button__icon {
    font-size: 1.5em;
    margin-top: 8px;
  }
  
.reg .title{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
    position: relative;
}
.reg .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 70px;
    border-radius: 5px;
    background: linear-gradient(135deg, rgb(103, 60, 182) 25%, #f14a0d);
  }

  .reg{
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }